<form class="js-filters-form">
  <ul class="filters">
    <li class="filters__list">
      <select class="filters__item js-filter-genres" name="with_genres">
        <option value="" selected>All Genres:</option>
        <option value="28">Action</option>
        <option value="12">Adventure</option>
        <option value="16">Animation</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="99">Documentary</option>
        <option value="18">Drama</option>
        <option value="10751">Family</option>
        <option value="14">Fantasy</option>
        <option value="36">History</option>
        <option value="27">Horror</option>
        <option value="10402">Music</option>
        <option value="9648">Mystery</option>
        <option value="10749">Romance</option>
        <option value="878">Science Fiction</option>
        <option value="10770">TV Movie</option>
        <option value="53">Thriller</option>
        <option value="10752">War</option>
        <option value="37">Western</option>
      </select>
    </li>
    <li class="filters__list">
      <select class="filters__item js-filter-language" name="with_original_language">
        <option value="" selected>Original Language</option>
        <option value="uk">Ukrainian</option>
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="de">German</option>
        <option value="it">Italian</option>
        <option value="es">Spanish</option>
        <option value="ru">Russian</option>
      </select>
    </li>
    <li class="filters__list">
      <select class="filters__item js-filter-vote_average" name="vote_average.gte">
        <option value="" selected="">Sort by Rating</option>
        <option value="9">9 and above</option>
        <option value="8">8 and above</option>
        <option value="7">7 and above</option>
        <option value="6">6 and above</option>
        <option value="5">5 and above</option>
        <option value="4">4 and above</option>
        <option value="3">3 and above</option>
        <option value="2">2 and above</option>
        <option value="1">1 and above</option>
      </select>
    </li>
    <li class="filters__list">
      <select class="filters__item js-filter-language" name="sort_by">
        <option value="vote_count.desc" selected>More Number of Votes</option>
        <option value="vote_average.desc">Higher Average Rating</option>
        <option value="popularity.desc">Most Popular</option>
      </select>
    </li>
    <li class="filters__list">
      <select class="filters__item js-filter-years" name="primary_release_date.gte">
        <option value="" selected>Select Period</option>
        <option value="2020-01-01">2020-</option>
        <option value="2010-01-01">2010-2020</option>
        <option value="2000-01-01">2000-2010</option>
        <option value="1990-01-01">1990-2000</option>
        <option value="1980-01-01">1980-1990</option>
        <option value="1970-01-01">1970-1980</option>
        <option value="1960-01-01">1960-1970</option>
        <option value="1950-01-01">1950-1960</option>
        <option value="1949-12-31">until 1950</option>
      </select>
    </li>
    <li class="filters__button">
      <button class="js-filtersReset-btn" type="reset">Reset</button>
    </li>
  </ul>
</form>
