<!-- <button class="js-logo">Logo</button> -->
<!-- <button class="js-home-btn">Home</button> -->
<!-- <button class="js-lybrary-btn">lybrary</button> -->
<!-- <button class="js-watched-btn">watched</button> -->
<!-- <button class="js-addToWatched-btn">addToWatched</button> -->
<!-- <button class="js-queued-btn">queued</button> -->
<!-- <button class="js-addToQueued-btn">addToQueued</button> -->
<button class="js-teamDescr">teamDescr</button>
<!-- <form class="js-search-form">
  <input type="text" name="searchInput" />
  <button type="submit">Search</button>
</form> -->
<!-- <div class="js-gallery">js-gallery</div> -->
<!-- <div class="js-pagination">js-pagination</div> -->
<!-- <button class="js-signIn-btn">signIn</button>
<button class="js-logout-btn">logout</button> -->
<div class="js-userStatus">Logged Out</div>
